.row
  .col-md-offset-4.col-md-4
    .panel.panel-default
      .panel-heading
        %h2 Resend confirmation instructions
      .panel-body
        = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
          = f.error_notification
          = f.full_error :confirmation_token
          = f.input :email, required: true, autofocus: true
          .text-center
            = f.button :submit, 'Resend confirmation instructions', class: 'btn btn-primary'
        .text-center
          = render 'devise/shared/links'
