.row
  .col-md-12
    .panel.panel-default
      .panel-heading.text-center
        %h2 Baehl Business Hub Membership Form
      .panel-body
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_notification
          .row
            .col-xs-offset-2.col-xs-4
              %p Title:
            .col-xs-4
              = f.input :title, label: false, collection: Title.select_options, include_blank: 'Select One', input_html: { class: 'select2' }
          .row
            .col-xs-offset-2.col-xs-4
              %p First Name:
            .col-xs-4
              = f.input :first_name, label: false
          .row
            .col-xs-offset-2.col-xs-4
              %p Last Name:
            .col-xs-4
              = f.input :last_name, label: false
          .row
            .col-xs-offset-2.col-xs-4
              %p Position:
            .col-xs-4
              = f.input :position, label: false
          .row
            .col-xs-offset-2.col-xs-4
              %p Company:
            .col-xs-4
              = f.input :company, label: false
          .row
            .col-xs-offset-2.col-xs-4
              %p Business Telephone:
            .col-xs-4
              = f.input :telephone, label: false
          .row
            .col-xs-offset-2.col-xs-4
              %p Mobile Phone (optional):
            .col-xs-4
              = f.input :mobile, label: false
          .row
            .col-xs-offset-2.col-xs-4
              %p Business Email:
            .col-xs-4
              = f.input :email, label: false
          .row
            .col-xs-offset-2.col-xs-4
              %p Street Address:
            .col-xs-4
              = f.input :address, label: false
          .row
            .col-xs-offset-2.col-xs-4
              %p City:
            .col-xs-4
              = f.input :city, label: false
          .row
            .col-xs-offset-2.col-xs-4
              %p Postal/Zip (optional):
            .col-xs-4
              = f.input :zip_code, label: false
          .row
            .col-xs-offset-2.col-xs-4
              %p Country:
            .col-xs-4
              = f.input :country, collection: User.country_options.map{|hash| [hash[:id], hash[:text]]}, label: false, include_blank: 'Select One', input_html: { class: 'select2-country' }
          .row
            .col-xs-offset-2.col-xs-8
              %h2 More About Your Business:
          .row
            .col-xs-offset-2.col-xs-4
              %p Company Type:
            .col-xs-4
              = f.input :role, label: false, collection: Role.select_options, include_blank: 'Select One', input_html: { class: 'select2' }
          .row
            .col-xs-offset-2.col-xs-4
              %p Number Of Employees:
            .col-xs-4
              = f.input :number_of_employees, label: false, include_blank: 'Select One', collection: User.select_options_for_number_of_employees, input_html: { class: 'select2' }
          .row
            .col-xs-offset-2.col-xs-4
              %p Company Website:
            .col-xs-4
              = f.input :company_website, label: false
          .row
            .col-xs-offset-2.col-xs-4
              %p Choose a Password:
            .col-xs-4
              = f.input :password, label: false, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
          .row
            .col-xs-offset-2.col-xs-4
              %p Confirm Password:
            .col-xs-4
              = f.input :password_confirmation, label: false
          .text-center
            = f.button :submit, 'Sign Up Now', class: 'btn btn-primary'
