%h1 Editing Campaign

= simple_form_for(@campaign, url: dashboard_campaign_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :expires_at

  .form-actions
    = f.button :submit

= link_to 'Show', @campaign
\|
= link_to 'Back', dashboard_campaigns_path
