%h1 Listing proposed_solutions

%table
  %thead
    %tr
      %th Name
      %th Description
      %th State
      %th
      %th
      %th

  %tbody
    - @proposed_solutions.each do |proposed_solution|
      %tr
        %td= proposed_solution.name
        %td= proposed_solution.description
        %td= proposed_solution.state
        %td= link_to 'Show', proposed_solution
        %td= link_to 'Edit', edit_proposed_solution_path(proposed_solution)
        %td= link_to 'Destroy', proposed_solution, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Proposed solution', new_proposed_solution_path
