%header.video-header
  = video_tag('home_page_video.mov', controls: false, autobuffer: true, autoplay: true, loop: true, muted: true, class: 'homepage-video')

%section.subtitle
  .row
    .col-sm-12.text-center
      %h2 Innovate. Collaborate. Accelerate.

%section.login-and-info
  .row
    .col-sm-6
      .panel.panel-default
        .panel-heading.text-center
          %h2 About the Baehl Business Hub
        .panel-body
          %p
            The Baehl Business Hub is a tool for labs, developers, public institutions and companies to quickly and easily reach each other. It is a virtual accelerator for those looking to sell, buy, or collaborate on new technologies. It automatically brings key players together in this new gathering place for opportunities. The Baehl Business Hub allows labs, TTOs, and other innovators to efficiently explore the needs of mid-sized startups worldwide, in order to powerfully bridge the gap between innovative technologies and potential clients, attracting market attention and fostering innovation.

    .col-sm-6
      = render 'devise/shared/form'

%section.modal-links
  .row
    .col-md-4.text-center
      = link_to '#', class: 'member-network', data: { 'toggle': 'modal', 'target': '#member-network-modal' }, style: 'outline: none;' do
        = fa_icon 'connectdevelop'
        %p Member Network
    .col-md-4.text-center
      = link_to '#', class: 'learn-more', data: { 'toggle': 'modal', 'target': '#learn-more-modal' }, style: 'outline: none;' do
        = fa_icon 'question-circle'
        %p Learn More
    .col-md-4.text-center
      = link_to new_user_registration_path do
        = fa_icon 'check-circle'
        %p Sign Up

.modal.fade#member-network-modal{ tabindex: '-1', role: 'dialog', 'aria-labelledby': '#modal-label' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %button.close{ 'data-dismiss': 'modal', 'aria-label': 'Close' }
          %span{ 'aria-hidden': true }
            &times;
        %h4.modal-title#modal-label
          Check Out These Companies
      .modal-body
        = image_tag('member_network_modal.png', class: 'img-responsive')

.modal.fade#learn-more-modal{ tabindex: '-1', role: 'dialog', 'aria-labelledby': '#modal-label' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %button.close{ 'data-dismiss': 'modal', 'aria-label': 'Close' }
          %span{ 'aria-hidden': true }
            &times;
        %h4.modal-title#modal-label
          Let Us Explain
      .modal-body
        = video_tag('learn_more_video.mp4', class: 'learn-more-video', width: '100%', height: '100%', controls: true, autobuffer: true, autoplay: false, loop: true)
