%h1 Editing Proposed Solution

= simple_form_for(@proposed_solution, url: dashboard_proposed_solution_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description

  .form-actions
    = f.button :submit

= link_to 'Show', @proposed_solution
\|
= link_to 'Back', dashboard_proposed_solutions_path
