%h1 Listing My Proposed Solutions

- @proposed_solutions.each do |proposed_solution|
  .panel.panel-default
    .panel-heading
      = proposed_solution.name
    .panel-body
      %p
        = proposed_solution.description
        = link_to 'Show', proposed_solution
        = link_to 'Edit', edit_dashboard_proposed_solution_path(proposed_solution)
        = link_to 'Destroy', dashboard_proposed_solution_path(proposed_solution), method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Proposed Solution', new_proposed_solution_path
