%h1 New Proposed Solution

= simple_form_for(@proposed_solution, url: dashboard_proposed_solutions_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :campaign_id, as: :hidden, input_html: { value: @campaign.id }

  .form-actions
    = f.button :submit
