= simple_form_for(@campaign) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :state
    = f.input :expires_at

  .form-actions
    = f.button :submit
