.campaign-grid
  - @campaigns.each do |campaign|
    .campaign-item
      .panel.panel-default.campaign-panel
        .panel-heading
          = image_tag('http://placehold.it/700x200', class: 'img-responsive')
        .panel-body
          .row
            .col-md-6
              %p Sector
            .col-md-6
              %p= campaign.sector.to_s.titleize
          .row
            .col-md-6
              %p Country
            .col-md-6
              %p= campaign.country.to_s.titleize
          .row
            .col-md-6
              %p Description
            .col-md-6
              %p= Faker::Lorem.paragraph
          .countdown.text-center
            = fa_icon 'clock-o', class: 'fa-3x'
            %p Countdown
          .single-campaign-link
            = link_to campaign_path(campaign) do
              = fa_icon 'arrow-circle-right', class: 'fa-2x'
        .panel-footer
          = link_to '#' do
            = fa_icon 'heart-o'
            %p{ style: 'display: inline-block;' } Add To Favorites
