%h1 Listing My Campaigns

- @campaigns.each do |campaign|
  .panel.panel-default
    .panel-heading
      = campaign.title
    .panel-body
      %p
        = campaign.sub_title
        = campaign.sector
        = campaign.country
        = campaign.targeted_time_to_market
        = campaign.expected_trl
        = link_to 'Show', campaign_path(campaign)