%h1 Listing campaigns

- @campaigns.each do |campaign|
  .panel.panel-default
    .panel-heading
      = campaign.name
    .panel-body
      %p
        = campaign.description
        = campaign.state
        = campaign.expires_at
        = link_to 'Show', campaign
        = link_to 'Edit', edit_campaign_path(campaign)

= link_to 'New Campaign', new_campaign_path
