.row
  .col-md-offset-1.col-md-10
    .panel.panel-default
      .panel-heading
        %h2{ style: 'display: inline-block;' }
          = @campaign.title
        .countdown.text-right
          = fa_icon 'clock-o', class: 'fa-3x'
          %p= time_ago_in_words(@campaign.expires_at) + " remaining"
      .panel-body
        = image_tag('http://placehold.it/1500x200', class: 'img-responsive')
        %h2 <u>Our Company</u>
        %p= @campaign.company_description
        %h2 <u>Our Needs</u>
        %p= @campaign.company_needs
        .opportunity-specifications
          %h2 <u>Opportunity Specifications</u>
        .row
          .col-md-4
            %p Sector:
            %p Country:
            %p Targeted Time To Market:
            %p Expected TRL:

          .col-md-4
            %p= @campaign.sector.to_s.titleize
            %p= @campaign.country
            %p= @campaign.targeted_time_to_market
            %p= @campaign.expected_trl
        %br
        %span.like-unlike-container
          = link_to '#', class: 'add-to-favorites', style: (current_user.likes.where(campaign_id: @campaign.id).present? ? 'display:none;' : '').to_s, data: { campaign_id: @campaign.id, url: add_to_favorites_path } do
            = fa_icon 'heart'
            %p{ style: 'display: inline-block;' } Add To Favorites

          = link_to '#', class: 'remove-from-favorites', style: (current_user.likes.where(campaign_id: @campaign.id).present? ? '' : 'display:none;').to_s, data: { campaign_id: @campaign.id, url: remove_from_favorites_path } do
            = fa_icon 'heart'
            %p{ style: 'display: inline-block;' } Remove From Favorites

        - if current_user.role == :tech_provider
          .text-center
            = link_to 'Apply Now', new_campaign_proposed_solution_path(@campaign), class: 'btn btn-primary'
