%p#notice= notice

%p
  %b Name:
  = @campaign.title
%p
  %b Sub- Title:
  = @campaign.sub_title
%p
  %b Other fields:
  = @campaign.sub_title
  = @campaign.sector
  = @campaign.country
  = @campaign.targeted_time_to_market
  = @campaign.expected_trl

- if current_user.role == :tech_provider
  .button.btn.btn-primary.apply-now{ data: { 'campaign-id': @campaign.id } } Apply Now