.footer
  .row.footer-content
    .col-md-4
      %h3 CONTACT
      %p.address Baehl Innovation
      %p.address 26th Floor, Montparnasse Tower
      %p.address 33 Avenue du Maine
      %p.address 75015 Paris
      %p.address Telephone: +33 (0)1 44 10 41 43

    .col-md-4
      %h3 RECENT TWEETS
      %a.twitter-timeline{ data: { 'tweet-limit': 1 }, href: 'https://twitter.com/themoor88' } Tweets by themoor88
      %script{ async: true, src: '//platform.twitter.com/widgets.js', charset: 'utf-8' }

    .col-md-4
      %p.legal-notes= footer_and_legal_notes
      = link_to 'Mentions Légales', 'http://baehl-innovation.com/mentions-legales/', class: 'footer-link'
      .social-icons.pull-right
        = link_to 'https://twitter.com/baehlinnovation' do
          = fa_icon 'twitter-square', class: 'fa-2x'
        = link_to 'https://www.linkedin.com/company/baehl-innovation' do
          = fa_icon 'linkedin-square', class: 'fa-2x'



