.footer
  .row.footer-content
    .col-md-4
      %h2 CONTACT
      %p Baehl Innovation
      %p 26th Floor, Montparnasse Tower
      %p 33 Avenue du Maine
      %p 75015 Paris
      %p Telephone: +33 (0)1 44 10 41 43
    .col-md-4
      %h2 RECENT TWEETS
      %p= link_to 'Link 4', '#'
      %p= link_to 'Link 5', '#'
      %p= link_to 'Link 6', '#'
    .col-md-4
      %h2 NEWS
      %p= link_to 'Link 7', '#'
      %p= link_to 'Link 8', '#'
      %p= link_to 'Link 9', '#'
  .row.footer-content
    .col-md-12
      %p.legal-notes= footer_and_legal_notes
      = link_to 'Mentions Légales', 'http://baehl-innovation.com/mentions-legales/', class: 'footer-link'
