= link_to 'Home', root_path, class: 'navbar-link'
= link_to 'Baehl Innovation', 'http://baehl-innovation.com', class: 'navbar-link'
= link_to 'Who', 'http://baehl-innovation.com/who-we-are', class: 'navbar-link'
= link_to 'What', 'http://baehl-innovation.com/bbh', class: 'navbar-link'
= link_to 'Where', 'http://baehl-innovation.com/where-we-work', class: 'navbar-link'
= link_to 'Contact', 'http://baehl-innovation.com/contact', class: 'navbar-link'
