- unless user_signed_in?
  %nav.navbar.primary
    %p.contact-us.pull-left Contact Us Today! +33 (0)1 44 10 41 43
    .social-icons.pull-right
      = link_to 'https://twitter.com/baehlinnovation' do
        = fa_icon 'twitter-square', class: 'fa-2x'
      = link_to 'https://www.linkedin.com/company/baehl-innovation' do
        = fa_icon 'linkedin-square', class: 'fa-2x'

%nav.navbar.secondary
  = link_to root_path, class: 'navbar-logo pull-left' do
    = image_tag('logo.png', class: 'img-responsive')

  .navbar-links.pull-right
    = render 'layouts/nav_links_for_auth'

- if user_signed_in?
  = render 'layouts/tertiary_navigation'