!!!
%html
  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title= content_for?(:title) ? yield(:title) : 'Baehl Business Hub'
    %meta{ name: 'description', content: (content_for?(:description) ? yield(:description) : 'Baehl Business Hub').to_s }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{ class:  "#{controller_path.tr('_', '-').tr('/', '-')} #{action_name.tr('_', '-')}" }
    .wrapper
      %main{ role: 'main' }
        = render 'layouts/messages'
        = render 'layouts/navigation'
        = yield
        = render 'layouts/footer'
